PORT=1323
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_USER=vocabunny
POSTGRES_PASS=XGSMPwH6PNbIVOo7Tlw1lcUtQevqS6xAfFvfVxAN
POSTGRES_DATABASE=vocabunny
MIGRATE_CONFIG_PREFIX=dev
IS_ON_SERVER=false

docker run -d \
  --name vocabunny-postgres \
  -e POSTGRES_USER=vocabunny \
  -e POSTGRES_PASSWORD='XGSMPwH6PNbIVOo7Tlw1lcUtQevqS6xAfFvfVxAN' \
  -e POSTGRES_DB=vocabunny \
  -p 5433:5432 \
  -v vocabunny_pgdata:/var/lib/postgresql/data \
  postgres:16
