PORT=1323
POSTGRES_HOST=192.168.1.3
POSTGRES_PORT=5432
POSTGRES_USER=vocabunny
POSTGRES_PASS=XGSMPwH6PNbIVOo7Tlw1lcUtQevqS6xAfFvfVxAN
POSTGRES_DATABASE=vocabunny
MIGRATE_CONFIG_PREFIX=dev
IS_ON_SERVER=false